<div class="jumbotron text-center">
	<div class="container">
		<div class = "row">
			<div class="col-md-8">
				<h1> Welcome to <br>Bryant Estate Sales!</h1>
			</div>
			<div class="col-md-4">
				<img ng-src="{{ logo }}" alt="logo">
			</div>
		</div>
	</div>
</div>

<!-- sales update (change frequently) -->
<div class="salesDetail container-fluid">
	<h1>{{ tagline }}</h1>
	<div ng-repeat="sale in sales">
		<div class="row">
			<div class="col-md-4">
				<h3 class="saleTitle">{{ sale.title }}</h3>
				<img ng-src="{{ sale.img1 }}" class="img-thumbnail img-responsive">
			</div>
			<div class="col-md-4">
				<h3 class="saleTime"> {{ sale.satTime }} <br> {{ sale.sunTime }}</h3>
				<img ng-src="{{ sale.img2 }}" class="img-thumbnail img-responsive">
			</div>
			<div class="col-md-4">
				<h3 class="saleLocation"> {{ sale.address }} </h3>
				<img ng-src="{{ sale.img3 }}" class="img-thumbnail img-responsive">
			</div>
		</div>
		<div></div>
	</div>
</div>