body {
	margin-bottom: 50px;
}

/* index.html */
.navbar {
	margin: auto 7%;
}

/* home.html */
.jumbotron {
	/*background-image: url('./img/home/bg.jpg');*/
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: scroll;

	font-weight: bold;
	font-family: Georgia, serif;
	margin: auto;
}

.jumbotron h1 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.salesDetail {
	font-weight: bold;
	text-align: center;
}

/*.salesDetail .row {
	margin: auto 2%;
}*/

.salesDetail h1 {
	font-family: "Myriad Set Pro","Lucida Grande","Helvetica Neue","Helvetica","Arial","Verdana", sans-serif;
	margin-bottom: 0;
}

.salesDetail h3 {
	font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
	margin: 1% auto;
}

.img-responsive {
    margin: auto;
}

.thumbnail {
	width: auto; 
	height: 500px;
}

/* about.html */
#kennethPic {
	width: 300px; 
	height: 300px;
	padding-top: 15px;
	padding-bottom: 15px;
}

/* contact.html */