/* index.html */
.navbar {
	margin: auto 7%;
}

/* home.html */
.jumbotron {
	/*background-color: #AFEEEE;*/
	font-weight: bold;
	font-family: Georgia, serif;
	margin: auto;
}

.salesDetail {
	font-weight: bold;
	text-align: center;
}

.salesDetail h1 {
	font-family: "Arial Black", Gadget, sans-serif;
	margin-top: 2%;
	margin-bottom: 2%;
}

.salesDetail .img-responsive {
    margin: 0 auto;
}

.saleTitle {

}

.saleTime {
	
}

.saleLocation {
	
}

/* about.html */
#kennethPic {
	width: 30%; 
	height: 30%;
	padding-top: 15px;
	padding-bottom: 15px;
}

/* contact.html */
#contactInfo {
	font-size: 21px;
}